mkdocs-material
mkdocs-blogging-plugin
mkdocs-callouts
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-statistics-plugin
mkdocs-awesome-pages-plugin
mkdocs-literate-nav
mkdocs-mermaid2-plugin
mkdocs-table-reader-plugin
mkdocs-encryptcontent-plugin
